#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.card {
  display: flex;
  align-self: stretch;
}

.panel {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.rs-icon {
  font-size: 2em;
}

.container {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}